.container{
    width: 90%;
    padding: 0.8rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;

    display: flex;
    min-height: 4rem;

    background: var(--gray-100);
    border: 1px solid var(--gray-200);
    border-radius: 8px;

}

.form{
    display: flex;
    width: 90%;
    align-items: flex-start;
    gap: 0.5rem;
}

.buttonIncomplete{
    background: transparent;
    border: 2px solid var(--blue);
    border-radius: 50px;
    width: 1rem;
    height: 1rem;
}

.buttonIncomplete:hover{
    border: 2px solid var(--blue-dark);
}

.buttonComplete{
    background: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 50px;
    width: 1rem;
    height: 1rem;
}

.buttonComplete:hover{
    background-color: var(--blue-dark);
    border: 2px solid var(--blue-dark);

}

.buttons{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttons button{
    border: none;
    background-color: transparent;
}

.taskIncomplete{
    color: var(--gray-400);
}

.taskComplete{
    color: var(--gray-300);
    text-decoration: line-through;
}

.pencilLine:hover{
    color: var(--green);
}

.trash:hover{
    color: var(--danger);
}

.contentContainer{
    display: flex;
    gap: 1rem;
}

.input{
    background: transparent;
    border: transparent;
    border-bottom: 1.5px solid var(--gray-300);
    font-size: 0.875rem;
}

.setButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--blue);
    border: transparent;
    border-radius: 50%;
    color: var(--white);
}

@media (max-width: 768px) {
    .input{
        width: 60%;
    }
}
