.header{
    height: 12rem;
    padding-top: 4.5rem;
    background: var(--gray-100);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

   
    
}

.logo{
    height: 6rem;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input{
    width: 60%;
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 0.875rem;
    color: var(--gray-400);
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    border-radius: 8px;
}

.button{
    height: 2.5rem;
    width: 5rem;
    border-radius: 8px;
    border: transparent;
    color: var(--white);
    font-weight: bold;
    background-color: var(--blue);
    transition: 0.1s;
}

.button:hover{
    background-color: var(--blue-dark);
    transition: 0.1s;
}